<ol>
<% @questions.each do |question| %>
<li>
 <p>
   <%= link_to question.title , question_path(question) %>
   <p class="meta">Posted by <%= question.user.name %> on <%= question.created_at.strftime("%B %d, %Y") %></p>
 </p>
</li>
 <hr>
<% end %>
</ol>