@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);

$yellow: #f0e958;
$black: #0c0c0c;
$dkblue: #1a2f3e;
$mdblue: #266da1;
$paleblue: #d3e2e5;
$red: #8b3439;
$green: #216855;

html {
  box-sizing: border-box;
  width: 100%;
}

body {
  color: $black;
  font-family: 'Lato', sans-serif;
  margin: 0;
  box-sizing: inherit;
}

a {
  color: $mdblue;
  border-bottom: 2px dotted $yellow;
  text-decoration: none;
  transition: color 0.5s linear, border-color 0.5s linear;
}

a:hover {
  color: $dkblue;
  border-color: $dkblue;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid $paleblue;
}

nav {
  display: block;
  background: $black;
  text-align: right;
  padding: 0.5em;
}

header {
  margin-top: 1em;
}

li {
  line-height: 1.5;
}

form {
  margin: 1em auto;
  padding: 1em;
}

fieldset {
  border: 0;
  margin: 0.5em auto;
  padding: 0;
}

label {
  display: inline-block;
  font-weight: 700;
  min-width: 100px;
  line-height: 2em;
}

input[type="text"],input[type="password"],textarea {
  line-height: 2.5em;
  padding: 0 0.5em;
  border: 1px solid $paleblue;
  width: 200px;
}

textarea {
  display: block;
  width: 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.button, button, input[type="submit"] {
  border: 0;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  background: $mdblue;
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0 0.5em;
  transition: background 0.1s linear,color 0.1s linear;
}

.button.active, button.active, .button:hover, button:hover, input[type="submit"]:hover {
  background: $yellow;
  color: $dkblue;
  color: $dkblue;
}
input[type="submit"] {
  display: block;
  margin: 1em;
}

.error {
  color: $red;
}

.success {
  color: $green;
}

.meta {
  color: $mdblue;
  text-transform: lowercase;
  font-size: 0.8em;
  display: block;
  margin-bottom: 1em;
}

.logo-img {
  width: 200px;
}

.logo-text {
  display: inline-block;
  margin-left: -56px;
  vertical-align: bottom;
  margin-bottom: 0.25em;
}

.logo-text .logo-light {
  font-weight: 300;
}

.logo-text .logo-heavy {
  font-weight: 900;
}