// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  margin-left: 5em;
  font-size: 0.9em;
}
.comment p {
  margin: 0.5em;
}